/* ------- Estilos del header ----------- */
            /* Cabecera */
    /* Container Sidebar */
    
    $bg-h: #ebebeb;

    .cabecera {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 10px;
        min-height: 150px;
        background-color: $bg-h;
    
    }
    
    /* Logo y Título */
    .cabecera-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: solid 2x #ffff;
            margin-right: 20px;
        }
        h1 {
            font-size: 30px;
        font-family: 'Beau Rivage', cursive;
        color: #616161;
        }
    }
    .cabecera a {
        text-decoration: none;
    }
    /* Barra de Navegación */
    .cabecera-nav {
        display: flex;
        justify-content: space-between;
    }
    .menu {
        height: 30px;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .menu li {
        margin-right: 15px;
        list-style: none;
        
    }
    .links a {
        text-decoration: none;
        font-size: 11.5px;
        font-family: 'Open Sans', sans-serif;
        color: #616161;
    }
    .links a:hover {
        background-color: #7e7c7c;
        border-radius: 10px;
        color: #ffffff;
    }